.card-img, .card-img-bottom {
  height: 280px;
  object-fit: cover;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}